# Ignore all executable files
*.exe

# Ignore the .vscode folder
.vscode/

# Ignore specific file
revise.c

# Ignore all log files
*.log

# Ignore node_modules folder (useful for JavaScript projects)
node_modules/

# Ignore Python cache files
__pycache__/

# Ignore compiled Java class files
*.class
